.Home {
  flex: 1;
  padding: 30px;
}

.Recipes-Grid {
  padding: 30px 0;
}

img {
  padding: 15px 0;
  height: auto;
  width: 100%;
  filter: brightness(90%);
}

.Recipe-Item:hover {
  cursor: pointer;
}

.Recipe-Item:hover img{
  opacity: 0.6;
}